<main>
  <h1 class="text-h1 font-heading leading-h1">hi i'm a pretty line of header</h1>
  <h2 class="text-h2 font-heading leading-h2">hi i'm a pretty line of header</h2>
  <h3 class="text-h3 font-heading leading-h3">hi i'm a pretty line of header</h3>
  <h4 class="text-h4 font-heading leading-h4">hi i'm a pretty line of header</h4>
  <h5 class="text-h5 font-heading leading-h5">hi i'm a pretty line of header</h5>
  <h6 class="text-h6 font-heading leading-h6">hi i'm a pretty line of header</h6>
  <p class="">
    hi i'm a normal paragraph, Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta,
    aperiam. hi i'm a normal paragraph, Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Soluta, aperiam. i'm a <span class="text-sm">small</span> word, this is much
    <span class="text-xs">smaller</span>
    hi i'm a normal paragraph, Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta,
    aperiam.
  </p>
</main>
<router-outlet />
